# Fallback/Default
* @sigio
# Specific events
events/wicca.yaml @elborro
events/t-dose.yaml @xesxen
events/bornhack.yaml @xesxen
events/hackfest.yaml @zeno4ever
events/hackalot.yaml @xesxen @boekenwuurm
events/ifcat.yaml @boekenwuurm
events/hackerspacesnl.yaml @zeno4ever
events/eth0.yaml @eloydegen
events/eurobsdcon.yaml @mischapeters
events/bsdnl.yaml @mischapeters
events/revspace.yaml @juerd
events/nluug.yaml @sigio
events/pvib.yaml @PvIB
events/tilburg-opensource.yaml @stappersg
events/oscal.yaml @kominoshja
events/ubuntu.yaml @ubuntu-demon
events/cfgmgmtcamp.yaml @toshywoshy
# Codeowners always just @sigio
.github/CODEOWNERS @sigio
