# Fallback/Default
* @sigio
# Specific event files for specific people
events/bitlair.yaml @polyfloyd
events/bornhack.yaml @xesxen
events/bsdnl.yaml @mischapeters
events/cfgmgmtcamp.yaml @toshywoshy
events/eth0.yaml @eloydegen
events/eurobsdcon.yaml @mischapeters
events/hack42.yaml @dvanzuilekom
events/hackalot.yaml @xesxen @boekenwuurm
events/hackerspacesnl.yaml @zeno4ever
events/hackfest.yaml @zeno4ever
events/ifcat.yaml @boekenwuurm
events/nlnog.yaml @Wqrld
events/nluug.yaml @sigio
events/revspace.yaml @juerd
events/t-dose.yaml @xesxen
events/tilburg-opensource.yaml @stappersg
events/wicca.yaml @elborro
# Codeowners always just @sigio
.github/CODEOWNERS @sigio
